body{
    height: 100vh;
    overflow: hidden;
}

.root-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.root-container>* {
    padding: 1.5%;
}

.overhead-image-container {
    box-sizing: border-box;
    width: calc(100% * 2/3);
    height: auto;
    max-height: 100vh;
}

.actions-container {
    width: calc(100% * 1/3);
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-self: flex-start;
}

.button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.button-menu>* {
    margin: 2.5%;
    width: 100%;
}

.actions-container>* {
    padding: 2.5%;
}

.hamburger-menu-container {
    align-self: flex-end;
}

#hamburger-menu {
    height: 30px;
    width: 30px;
    color: transparent;
}

.table-container {
    height: 200px;
    /* set a fixed height */
    overflow: auto;
    /* make it scrollable */
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}