<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="button-container">
        <button onclick="fetchPopup(event)" data-link="{{url_for('new_role_popup')}}">Create New Role</button>
        <button onclick="fetchPopup(event, [populateDropdownsFromApi])" data-link="{{url_for('new_user_popup')}}">Create New User</button>
        <button onclick="fetchPopup(event)" data-link="{{url_for('new_ticket_type_popup')}}">Create New Ticket Type</button>
        <button onclick="fetchPopup(event)" data-link="{{url_for('new_ticket_status_popup')}}">Create New Ticket Status</button>
        <button onclick="fetchPopup(event)" data-link="{{url_for('new_equipment_status_popup')}}">Create New Equipment Status</button>
        <button onclick="fetchPopup(event)" data-link="{{url_for('new_due_date_reason_popup')}}">Create New Due Date Reason</button>
        <button><a href="{{url_for('get_roles')}}">test_endpoint: get_roles</a></button>
      </div>
</body> 