<!DOCTYPE html>
<html>
  <head>
    <title>My Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="flex-row">
      <div class="image">
        <img src="{{ url_for('static', filename='images/downstairs_image.png') }}" alt="overhead_image" style="width:100%", id="overhead_image">
      </div>
      <div class="flex-column" style="flex: 1;">
        <table>
          <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1, Column 1</td>
              <td>Row 1, Column 2</td>
              <td>Row 1, Column 3</td>
            </tr>
            <tr>
              <td>Row 2, Column 1</td>
              <td>Row 2, Column 2</td>
              <td>Row 2, Column 3</td>
            </tr>
            <tr>
              <td>Row 3, Column 1</td>
              <td>Row 3, Column 2</td>
              <td>Row 3, Column 3</td>
            </tr>
          </tbody>
        </table>
        <div class="button-menu">
          <button><a href="https://www.hyster.com/en-us/north-america/" target="_blank">Button 1</a></button>
          <button><a href="#">Button 2</a></button>
          <button><a href="#">Button 3</a></button>
          <button><a href="#">Button 4</a></button>
          <button><a href="#">Button 5</a></button>
          <button><a href="#">Button 6</a></button>
          <button><a href="#">Button 7</a></button>
        </div>
      </div>
      <div class="hamburger-menu"></div>
    </div>
    <script src="{{url_for('static', filename='set_image_size.js') }}"></script>
  </body>
</html>
