<!DOCTYPE html>
<html>
  <head>
    <title>My Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="root-container">
      <div class="overhead-image-container">
        <img src="{{ url_for('static', filename='images/downstairs_image.png') }}" alt="overhead_image" style="width:100%", id="overhead_image">
      </div>
      <div class="actions-container">
        <div class="hamburger-menu-container">
            <button id="hamburger-menu" href="#">Hamburger Menu</button>
        </div>
        <div class="table-container">
          <table id='requests-table'>
            <thead>
                <tr>
                  <th>Type</th>
                  <th>Submitter</th>
                  <th>Submitted</th>
                  <th>Due Date</th>
                  <th>Due Date Reason</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
        <div class="button-menu">
          <button><a href="https://www.hyster.com/en-us/north-america/" target="_blank">Button 1</a></button>
          <button><a href="#">Button 2</a></button>
          <button><a href="#">Button 3</a></button>
          <button><a href="#">Button 4</a></button>
          <button><a href="#">Button 5</a></button>
          <button><a href="#">Button 6</a></button>
          <button><a href="#">Button 7</a></button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='landing_page_script.js') }}"></script>
  </body>
</html>
