<!DOCTYPE html>
<html>
  <head>
    <title>My Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="root-container">
      <div class="overhead-image-container">
        <img src="{{ url_for('static', filename='images/downstairs_image.png') }}" alt="overhead_image" style="width:100%", id="overhead_image">
      </div>
      <div class="actions-container">
        <div class="hamburger-menu-container">
            <button id="hamburger-menu" href="#">Hamburger Menu</button>
        </div>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1, Column 1</td>
                <td>Row 1, Column 2</td>
                <td>Row 1, Column 3</td>
              </tr>
              <tr>
                <td>Row 2, Column 1</td>
                <td>Row 2, Column 2</td>
                <td>Row 2, Column 3</td>
              </tr>
              <tr>
                <td>Row 3, Column 1</td>
                <td>Row 3, Column 2</td>
                <td>Row 3, Column 3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="button-menu">
          <button><a href="https://www.hyster.com/en-us/north-america/" target="_blank">Button 1</a></button>
          <button><a href="#">Button 2</a></button>
          <button><a href="#">Button 3</a></button>
          <button><a href="#">Button 4</a></button>
          <button><a href="#">Button 5</a></button>
          <button><a href="#">Button 6</a></button>
          <button><a href="#">Button 7</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
